# Server Configuration
SERVER_PORT=3000
SERVER_HOST=127.0.0.1
DATABASE_URL=postgresql://my_user:my_password@127.0.0.1:5433/my_database?schema=public

# PostgreSQL Configuration
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password
POSTGRES_DB=my_database

# Github Configuration
GITHUB_TOKEN=your_token